main {
  background-image: url("/画像/コルクボード.jpg");
  width: 100%;
  height: 100%;
}

header {
  background-color: #d14d72;
  height: 60px;
}

img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.delete {
  margin: 10px 17px;
}
image p {
  margin-top: 0;
}

header h1 {
  font-size: 30px;
  margin: 10px 15px;
  color: white;
  float: left;
}

li {
  float: left;
  list-style: none;
  color: white;
  font-size: 16px;
  margin: 17px 10px;
}

li img {
  margin-top: 0;
}

li p {
  margin: 0;
}

.sort-list {
  float: right;
}
.btn {
  opacity: 0.8;
  border-radius: 5px;
  color: white;
  background-color: #ffabab;
  padding: 5px 8px;
}

.btn:hover {
  opacity: 1;
}

footer {
  background-color: #d14d72;
  color: white;
  height: 30px;
}

footer h3 {
  font-size: 15px;
  float: right;
  margin: 5px 15px;
}

table {
  width: 1200px;
  height: 700px;
}

th {
  width: 16% auto;
  height: 16% auto;
  margin: 5px;
}
