body {
  background-image: url(https://drive.google.com/file/d/1-OhtFX0gWZ0InO--BxoGiQJxdre-B207/view?usp=share_link);
}

header {
  background-color: aquamarine;
  height: 60px;
}

p {
  margin-top: 0;
}

header h1 {
  font-size: 30px;
  margin: 10px 15px;
  color: white;
  float: left;
}

li {
  float: left;
  list-style: none;
  color: white;
  font-size: 16px;
  margin: 17px 10px;
}

.btn {
  opacity: 0.8;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  opacity: 1;
}
