html,
body {
  height: 100%;
}

body {
  margin: 0;
}

header {
  background-color: #d14d72;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.page-title h1 {
  font-size: 30px;
  margin: 10px 15px 0 15px;
  color: white;
  float: left;
}

.header-icon {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
}

.header-icon p {
  margin: 0;
  padding: 0;
}

.header-icon li {
  float: left;
  list-style: none;
  color: white;
  font-size: 16px;
  margin: 17px 10px;
}

.sort-btn {
  opacity: 0.8;
  width: 80px;
  margin: auto;
  padding: 0;
  text-align: center;
  border: 1px solid #d14d72;
  border-radius: 10%;
}

main {
  background-image: url("../画像/コルクボード.jpg");
  width: 100%;
  display: block;
  padding: 60px 0 30px 0;
  height: 100%;
  overflow: scroll;
}

.form {
  margin: 0 15px;
}

.entry-box h4 {
  width: 50px;
  font-weight: h4;
  margin: 0 15px 5px;
  background-color: #fef2f4;
  padding: 5px 10px;
}

h4 {
  margin: 5px 15px;
  background-color: #fef2f4;
  text-align: center;
  padding: 5px 10px;
}

.roughly {
  display: flex;
}

.detail {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  margin: 5px 5px;
  padding: 0;
}

.color {
  width: 150px;
  height: 24px;
  margin: 7px 15px 0;
  border: 1px solid #d14d72;
  background-color: #fef2f4;
}

select {
  width: 150px;
  height: 24px;
  margin: 7px 15px 0;
}

input {
  width: 100px;
  height: 24px;
  margin: 7px 15px 0 15px;
  text-align: left;
  border: 1px solid #d14d72;
  background-color: #fef2f4;
}

.sub-title {
  width: 200px;
}

textarea {
  border: 1px solid #d14d72;
  background-color: #fef2f4;
  margin: 0;
  width: 600px;
}

.last-btn {
  display: flex;
}

.btn {
  opacity: 0.8;
  border-radius: 5px;
  background-color: #fef2f4;
  width: 45px;
  height: 20px;
  font-size: 10px;
  border: 1px solid #d14d72;
}

.btn:hover {
  opacity: 1;
}

.sort-btn:hover {
  opacity: 1;
}

footer {
  background-color: #d14d72;
  color: white;
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: fixed;
}

footer h3 {
  font-size: 15px;
  float: right;
  margin: 5px 15px;
}

.todo-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.all-task {
  width: 160px;
  height: 160px;
  margin: 9px;
}

.all-days {
  width: 160px;
  display: flex;
}

.entry {
  width: 80px;
}

.entry h6 {
  margin: 0;
}

.end {
  width: 80px;
}

.end h6 {
  margin: 0;
}

.all-task p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 4px;
}

.task-content {
  height: 100px;
  overflow-wrap: normal;
}

.color0 {
  background-color: #fef2f4;
}

.color1 {
  background-color: #8cffba;
}

.color2 {
  background-color: #fff48c;
}

.color3 {
  background-color: #8c97ff;
}

.color4 {
  background-color: #ff8cd0;
}

.color5 {
  background-color: #ffff;
}

.delete-btn {
  padding: 0;
  border: none;
  background: transparent;
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 100%;
}

.delete-btn img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
}
